services:
  - type: web
    name: document-converter
    runtime: python
    plan: free
    buildCommand: "./build.sh" 
    startCommand: "gunicorn app:app"
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.12
